<ion-header>
  <ion-toolbar>
    <ion-title>
      <a href="tabs"><ion-icon name="arrow-back"></ion-icon></a>
      <img src="../../assets/default/grupo.png">
      <ion-label *ngIf="grupo">{{grupo.nmGrupo}}</ion-label>
      <ion-icon *ngIf="isAdm()" (click)="adicionarContatosGrupo()" name="person-add"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table *ngIf="mensagens">
    <tr *ngFor="let mensagem of mensagens">
      <td *ngIf="obterTipoRemetente(mensagem) == 0">
        <p class="msg msg-sistema">{{mensagem.dsMensagem}}</p>
      </td>
      <td *ngIf="obterTipoRemetente(mensagem) == 1">
        <p class="msg minha-msg">{{mensagem.dsMensagem}}</p>
      </td>
      <td *ngIf="obterTipoRemetente(mensagem) == 2">
        <p class="msg">{{mensagem.dsMensagem}}</p>
      </td>
    </tr>
  </table>
</ion-content>

<ion-footer>
  <form [formGroup]="formMensagem" (ngSubmit)="enviarMensagemTexto()">
    <input type="text" formControlName="dsMensagem" placeholder="Digite aqui...">
  </form>
</ion-footer>