<ion-header>
  <ion-toolbar>
    <ion-title>
      Contatos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item href="https://ionicframework.com/docs/">
      <ion-avatar slot="start">
        <img src="../../assets/avatar/batman.png">
      </ion-avatar>
      <ion-label>Batman</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-avatar slot="start">
        <img src="../../assets/avatar/bttf.png">
      </ion-avatar>
      <ion-label>Back to the Future</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-avatar slot="start">
        <img src="../../assets/avatar/han.png">
      </ion-avatar>
      <ion-label>Han Solo</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-avatar slot="start">
        <img src="../../assets/avatar/ian.png">
      </ion-avatar>
      <ion-label>Dr. Ian Malcolm</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-avatar slot="start">
        <img src="../../assets/avatar/ghostbusters.png">
      </ion-avatar>
      <ion-label>Ghostbusters</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-avatar slot="start">
        <img src="../../assets/avatar/yoda.png">
      </ion-avatar>
      <ion-label>Yoda</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-avatar slot="start">
        <img src="../../assets/avatar/marty.png">
      </ion-avatar>
      <ion-label>Marty McFly</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-avatar slot="start">
        <img src="../../assets/avatar/sarah.jpeg">
      </ion-avatar>
      <ion-label>Sarah Connor</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-avatar slot="start">
        <img src="../../assets/avatar/terminator.png">
      </ion-avatar>
      <ion-label>The Terminator</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-avatar slot="start">
        <img src="../../assets/avatar/rotla.png">
      </ion-avatar>
      <ion-label>Raiders of the Lost Ark</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-avatar slot="start">
        <img src="../../assets/avatar/luke.png">
      </ion-avatar>
      <ion-label>Luke Skywalker</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-avatar slot="start">
        <img src="../../assets/avatar/esb.png">
      </ion-avatar>
      <ion-label>The Empire Strikes Back</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-avatar slot="start">
        <img src="../../assets/avatar/leia.png">
      </ion-avatar>
      <ion-label>Leia Organa</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
