<ion-header>
  <ion-toolbar>
    <ion-title>
      Conversas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="inset">
    <ion-item *ngFor="let conversa of conversas">
      <ion-avatar slot="start">
        <img src="../../assets/avatar/batman.png">
      </ion-avatar>
      <ion-label>
        <p class="titulo-conversa-grid">{{conversa.idUsuarioEnvio.nmExibicao}}</p>
        <p class="ultima-mensagem">{{conversa.dsMensagem}}</p>
      </ion-label>
      <ion-note item-end>18:03</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
