<ion-header>
  <ion-toolbar>
    <ion-title>
      <a href="tabs"><ion-icon name="arrow-back"></ion-icon></a>
      <img src="../../assets/avatar/luke.png">
      <ion-label *ngIf="usuario != undefined">
        <!--p-->{{usuario.nmExibicao}}<!--/p-->
        <!--p>Ocupado</p-->
      </ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table *ngIf="mensagens != undefined">
    <tr *ngFor="let mensagem of mensagens">
      <td *ngIf="mensagem.idUsuarioEnvio.idUsuario != usuario.idUsuario">
        <p class="msg minha-msg">{{mensagem.dsMensagem}}</p>
      </td>
      <td *ngIf="mensagem.idUsuarioEnvio.idUsuario == usuario.idUsuario">
        <p class="msg">{{mensagem.dsMensagem}}</p>
      </td>
    </tr>
  </table>
</ion-content>

<ion-footer>
  <form [formGroup]="formMensagem" (ngSubmit)="enviarMensagemTexto()">
    <input type="text" formControlName="dsMensagem" placeholder="Digite aqui...">
  </form>
</ion-footer>