<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formLogin" (ngSubmit)="logar()">
    <table>
      <tr>
        <ion-label position="floating">Telefone</ion-label>
      </tr>
      <tr>
        <ion-input type="text" formControlName="nrTelefone" placeholder="Telefone"></ion-input>
      </tr>
      <tr>
        <ion-label position="floating">Senha</ion-label>
      </tr>
      <tr>
        <ion-input type="password" formControlName="dsSenha" placeholder="Senha"></ion-input>
      </tr>
      <tr>
        <button ion-button>Entrar</button>
      </tr>
      <tr>
        <a href="cadastro"><p>Cadastre-se</p></a>
      </tr>
    </table>
  </form>
</ion-content>
