<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formUsuario" (ngSubmit)="cadastrar()">
    <input type="text" formControlName="nmUsuario" placeholder="Nome completo">
    <input type="text" formControlName="nmExibicao" placeholder="Nome de exibição">
    <input type="date" formControlName="dtNascimento" placeholder="Data de nascimento">
    <input type="number" formControlName="nrTelefone" placeholder="Número de telefone">
    <input type="text" formControlName="dsEmail" placeholder="E-mail">
    <input type="password" formControlName="dsSenha" placeholder="Senha">
    <input type="password" formControlName="dsSenhaConf" placeholder="Confirmação de senha">
    <!--input type="file"--><!--Foto de perfil-->
    <textarea formControlName="dsFrasePerfil" placeholder="Frase de perfil"></textarea>
    <input type="submit" value="Concluir cadastro">
  </form>
</ion-content>
